<a href="https://colab.research.google.com/github/Soitch/EUROBOT-2019/blob/master/SetHOOK.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pyTelegramBotAPI

In [ ]:
import sys
 
j = sys.stdin.readline().strip()
s = sys.stdin.readline().strip()
 
result = 0
for ch in s:
    if ch in j:
        result += 1
 
print(result)

0

In [ ]:
import sys
 
j = input().strip()
s = input().strip()
 
result = 0
for ch in s:
    if ch in j:
        result += 1
 
print(result)

1 2
3 4 4
2

In [ ]:
j = int(input())
dr = list()
prim = list()
for i in range(j):
  dr.append(int(input()))
s = 500
prim.append(s)
for j in range(1, len(dr)):
  if dr[j] > dr[j-1]:
    s += 500
  else:
    if dr[j] < dr[j-1] and s > 500:
      s -= 500
  prim.append(s)
print(sum(prim))

In [ ]:
import telebot

bot = telebot.TeleBot("1853965399:AAGUujqTdDa8LDLndzFC4Cj5Rqyc5hQEAdo")

bot.remove_webhook()
bot.set_webhook("https://functions.yandexcloud.net/d4eqj70pd9u2kspm7h2b")

True

In [ ]:
def readAndTotal():
    line = input("Введите число (пропустите ввод для завершения): ")
    # Базовый случай: пользователь пропустил ввод, возвращаем 0
    print(line)
    if line == "":
      return 0
    else:
      print(line)5
      return float(line) + readAndTotal()

print(readAndTotal())

In [ ]:
def privet(x):  # прямой ход рекурсии. Печатаем нужное количество раз
  if x:
    print('hello world')
    privet(x-1)
  else:
    return

privet(18)

In [ ]:
def wordrec(x):  # прямой ход рекурсии переворачиваем слово
  y=list(x)
  if len(y):
    print(y.pop(-1))
    wordrec(y)
  else:
    return

wordrec("hello")

In [ ]:
def sumf(x): # факториал
  if x:
    return x * sumf(x-1)
  else:
    return 1

sumf(13)

6227020800

In [ ]:
def xanoy_tower(count, frome, to):
  if count == 1:
    print(f'переложить диск 1 с {frome} на {to}')
  else:
    tmp = 6 - frome - to
    xanoy_tower((count-1), frome, tmp)
    print(f'переложить диск {count} с {frome} на {to}')
    xanoy_tower((count-1), tmp, to)


xanoy_tower(6, 1, 2)

In [ ]:
!pip install yfinance

In [85]:
import yfinance as yf
import pandas as pd
import pandas_datareader.data as web
import plotly.graph_objects as go
from datetime import datetime

pfe = yf.Ticker('SBER.ME')
#pfe.info

In [ ]:
pfe.actions

In [137]:
hist = pfe.history(period='1y', interval='1h')

In [ ]:
type(hist)
hist.info()

In [147]:
hist.to_csv('h.csv')

In [148]:
hist.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
2021-03-29 16:30:00+03:00,293.299988,293.440002,291.880005,292.339996,35639080,0.0,0
2021-03-29 17:30:00+03:00,292.339996,293.239990,292.010010,292.429993,6725420,0.0,0
2021-03-29 18:30:00+03:00,292.429993,293.000000,292.410004,293.000000,1604190,0.0,0
2021-03-30 09:30:00+03:00,294.859985,295.720001,292.799988,295.299988,17259820,0.0,0
2021-03-30 10:30:00+03:00,295.260010,295.600006,292.559998,293.329987,15307000,0.0,0

In [170]:

new_data = pd.read_csv('h.csv' )
new_data.rename(columns = {'Unnamed: 0' : 'Datetime'}, inplace = True)

In [ ]:
new_data['Datetime'] = pd.to_datetime(new_data[0]).dt.tz_localize(None)

In [ ]:
import matplotlib.pyplot as plt
tickers = ['SBER.ME']
for i,ticker in enumerate(tickers):
  current_ticker = yf.Ticker(ticker)
  plt.subplot(len(tickers),1,i+1)
  current_ticker.history(period='1w', interval='1H')['Close'].plot(figsize=   (16,7), title='1 week price history for ticker: '+ticker)

In [ ]:
fig = go.Figure(data=[go.Candlestick(x=new_data['Datetime'],
                open=new_data['Open'],
                high=new_data['High'],
                low=new_data['Low'],
                close=new_data['Close'])])
fig.show()

In [ ]:
new_data.head(30)